.meflyout.open{display:block}
.meflyout {
  	background: #fff;
  	box-shadow: 0 .5rem 1rem rgba(50,50,50,.35);
  	display: none;
  	line-height: normal;
  	padding: 10px;
  	position: absolute;
  	width: 30rem;
  	z-index: 999;
	border: 1px solid rgb(170,170,170);
  	top: 48px;

  border: solid 2px;
  border: 2px solid #A5A5A5;
  box-shadow: 1px 1px 1px #7F7F7F;
  background-color: #ffffff;
  right: 20px;
}
*, ::after, ::before {
  	box-sizing: border-box;
	margin: 0;
  	padding: 0;
}

h1 .meflyout {
	  display: inline-block;
}